
:root {
  --glass: rgba(227, 33, 33, 0.8); /* Define the --glass variable with a valid color value */
}
a{
  text-decoration: none;
}
.App {
  background: linear-gradient(
    106.37deg,
    #e77676 29.63%,
    #d2931e 51.55%,
    #e87474 90.85%
  );
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.AppGlass {
  display: grid;
  height: 98%;
  width: 98.7%;
  border-radius: 1rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 15rem auto;
  gap: 30px;
}


@media screen and (max-width:1200px){
  .AppGlass{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width:1200px){
  .AppGlass{
    grid-template-columns: 1fr;
  }
  .AppGlass::-webkit-scrollbar{
    display: none;
  }
}
