:root {
  --glass: rgb(145, 49, 49);
}

a {
  text-decoration: none;
}

.App {
  @apply bg-pink-100;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}


.AppGlass {
  /* @apply grid h-[98vh] w-98.7 rounded-lg bg-pink-100 overflow-hidden; */
  display: grid;
  grid-template-columns: 15rem auto;
  gap: 30px;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
  .AppGlass::-webkit-scrollbar {
    display: none;
  }
}
